<div fxLayout='column' class="list-container">
  <div fxFlex="62px" fxLayout='row' class="header">
    <div fxFlex="" class="set-header">
      <h1>LIST OF CARDS</h1>
      <h2>Cards in your collection</h2>
    </div>
    <div fxFlex="" class="added-counter">
      <h3>{{count}} IN COLLECTION</h3>
    </div>
  </div>
  <div fxFlex="" fxLayout='column' class="content">
    <div fxLayout='row' fxFlex="46px" class="paginator-top">
      <div fxFlex="46%">
        <mat-form-field>
          <mat-select class="whiteText" placeholder="Selected Set" [(value)]="storedCards.selectedSet" (change)="changedSet()">
            <mat-option value="*">All</mat-option>
            <mat-option *ngFor="let set of sets" [value]="set">
              {{ set }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="8%" style="text-align: center;">
        <i *ngIf="selectedSet !== '*'" style="font-size:40px;" class="ss ss-{{selectedSet}} ss-mythic ss-grad ss-3x"></i>
        <i *ngIf="selectedSet === '*'" style="font-size:40px;" class="ss ss-mythic ss-grad ss-3x"></i>
      </div>
      <div fxFlex="46%" class="pagination">
        <mat-paginator [length]="cards.length"
                       [pageSize]="limit"
                       [pageIndex]="storedCards.page"
                       [pageSizeOptions]="[limit]"
                       (page)="storedCards.page = $event.pageIndex"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>

    </div>
    <div fxFlex="shrink" appBindWidth [widthFunc]="width" style="max-width:100%;overflow-y:scroll;">
      <a *ngFor="let card of cards.slice(storedCards.page * limit, storedCards.page * limit + limit);" style="text-decoration: none;width:180px;float:left;margin:10px 20px 30px 20px;color:#c3d9ff;">
        <img [routerLink]="['/card', card.set, card.card]" (error)="imgError($event, card);" src="https://img.scryfall.com/cards/normal/en/{{card.set}}/{{card.card}}.jpg" />
        <span *ngIf="card.foil_count" fxLayout='row' class="counter noselect">
          <div fxFlex="">
            <mat-icon (click)="add(card.card, card.set)">add</mat-icon>
          </div>
          <div fxFlex="shrink">
            {{card.count}}, {{card.foil_count}}<br/>
            <small  style="font-size:12px;">({{card.set}}, {{card.card}})</small><br/>
            <span *ngIf="cardHistory.directionTodayDaysAgoCache(card, 2) < 0" style="color:#b24140;font-size:13px;">{{cardHistory.directionTodayDaysAgoCache(card, 2) | currency}}</span>
            <span *ngIf="cardHistory.directionTodayDaysAgoCache(card, 2) === 0" style="color:#afa8b2;font-size:13px;"> {{0  | currency}}</span>
            <span *ngIf="cardHistory.directionTodayDaysAgoCache(card, 2) > 0" style="color:#4ab252;font-size:13px;">+{{cardHistory.directionTodayDaysAgoCache(card, 2) | currency}}</span>
          </div>
          <div fxFlex="">
            <mat-icon (click)="remove(card.card, card.set)">remove</mat-icon>
          </div>
        </span>
        <span *ngIf="!card.foil_count" fxLayout='row' class="counter noselect">
          <div fxFlex="">
            <mat-icon (click)="add(card.card, card.set)">add</mat-icon>
          </div>
          <div fxFlex="shrink">
            {{card.count}}<br/>
            <small  style="font-size:12px;">({{card.set}}, {{card.card}})</small><br/>
            <span *ngIf="cardHistory.directionTodayDaysAgoCache(card, 2) < 0" style="color:#b24140;font-size:13px;">{{cardHistory.directionTodayDaysAgoCache(card, 2) | currency}}</span>
            <span *ngIf="cardHistory.directionTodayDaysAgoCache(card, 2) === 0" style="color:#afa8b2;font-size:13px;"> {{0  | currency}}</span>
            <span *ngIf="cardHistory.directionTodayDaysAgoCache(card, 2) > 0" style="color:#4ab252;font-size:13px;">+{{cardHistory.directionTodayDaysAgoCache(card, 2) | currency}}</span>
          </div>
          <div fxFlex="">
            <mat-icon (click)="remove(card.card, card.set)">remove</mat-icon>
          </div>
        </span>
      </a>
    </div>
    <div fxFlex="38px" fxLayout='row' class="paginator-bottom">
      <div fxFlex="30%">
        <h3 style="color:#fff;padding:0px;margin:9px;">{{setInfo.name}}</h3>
      </div>
      <div fxFlex="shrink" style="padding-top:12px;">
        <mat-radio-group (change)="sort()" [(ngModel)]="storedCards.sortBy">
          <mat-radio-button *ngFor="let sortingType of sortingTypes" [value]="sortingType">
            {{sortingType}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div  fxFlex="30%" class="pagination">
        <mat-paginator style="margin-top:-10px !important;" [length]="cards.length"
                       [pageSize]="limit"
                       [pageIndex]="storedCards.page"
                       [pageSizeOptions]="[limit]"
                       (page)="storedCards.page = $event.pageIndex"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
