.list-container{
  height:100%;
  .header{
    background: #404538;
    border-bottom: #636363 solid 1px;
    .set-header{
      border-bottom: #000000 solid 1px;
    }
    h3{
      padding:0px;
      margin:0px;
      color: #7d7d7d;
      font-size:30px;
      text-align:right;
      padding-right:10px;
      padding-top:10px;
    }
    .added-counter{
      border-bottom: #000000 solid 1px;
    }
    h1{
      padding:10px;
      padding-bottom:5px;
      color: #ecffff;
      letter-spacing: 3px;
      margin:0px;
      font-size:20px;
    }
    h2{
      margin:0px;
      padding:10px;
      padding-left:15px;
      letter-spacing: 1px;
      color: #d7fdff;
      padding-top:0px;
      font-size:12px;
    }
  }
  .content{
    padding:10px;
    height:100%;
    .counter {
      padding: 4px 8px 4px 8px;
      display: block;
      text-align:center;
      font-size: 18px;
      margin-top:-80px;
      z-index: 20;
      position:relative;
      background: rgba(24, 21, 16, 0.9);
      color: #f0f0f0;
      mat-icon {
        font-size: 16px !important;
        padding:3px !important;
        width:auto !important;
        height:auto !important;
        cursor:pointer;
        border-radius: 5px;
        background: #292929 !important;
      }
      mat-icon:hover {
        background: #393939 !important;
      }
      mat-icon:active {
        background: #ababab !important;
      }
    }
    img{
      border-radius:8px;
      z-index: 19;
      cursor:pointer;
      width:180px;
      position:relative;
    }
    .mat-paginator, .mat-paginator-page-size .mat-select-trigger {
      background: none !important;
    }
    .mat-paginator, .mat-paginator-page-size .mat-select-trigger {
      color: #c19cd8 !important;
    }
    .mat-paginator-container{
      min-height: 30px !important;
    }
    .mat-radio-button{
      margin-left:20px;
    }
    .paginator-top{
      width:100%;
      border-bottom:1px solid #6e8187;
      .whiteText .mat-select-content{
        color:#fff !important;
      }
    }
    .paginator-bottom{
      width:100%;
      overflow: hidden;
      border-top:1px solid #6e8187;
    }
    .pagination{
      text-align:right;
      a{
        padding:7px;
        color:#fff;
        cursor:pointer;
        border-radius: 4px;
        margin-right:20px;
        background: #4a4a4a;
        margin-top:2px;
        display:inline-block;
        border:1px solid #2c342a;
      }
      a:hover{
        background: #afd6ff;
        color:#000000;
        border:1px solid #ddefff;
      }
      a.active, a.active:hover{
        background: #8bb290;
        color:#fff;
        border:1px solid #3c6536;
      }
    }
  }
}
