<div fxLayout='column' class="list-container">
  <div fxFlex="62px" fxLayout='row' class="header">
    <div fxFlex="" class="set-header">
      <h1>LIST OF CARDS</h1>
      <h2>Cards in your collection</h2>
    </div>
    <div fxFlex="" class="added-counter">

    </div>
  </div>
  <div fxFlex="" class="content" style="text-align: center;">
    <textarea style="width: 60%;height:500px;">{{stored}}</textarea><br/>
    <textarea style="width: 60%;height:500px;">{{totals}}</textarea>
  </div>
</div>