<div fxLayout='column' class="container">
    <div fxFlex="25px" class="header" fxLayout='row'>
        <div fxFlex="">Magic The Gathering Collection Indexing</div>
        <div fxFlex="150px" class="button-menu">
            <a (click)="min()" class="bm-grey"><mat-icon>remove</mat-icon></a>
            <a (click)="max()" class="bm-grey" *ngIf="!isMax"><mat-icon>filter_none</mat-icon></a>
            <a (click)="unmax()" class="bm-grey" *ngIf="isMax"><mat-icon>crop_din</mat-icon></a>
            <a (click)="close()" class="bm-red"><mat-icon>clear</mat-icon></a>
        </div>
    </div>
    <div class="content" fxFlex="" fxLayout='row'>
        <div fxFlex="70px" class="menu">
            <button routerLink="/dashboard" mat-mini-fab>
                <mat-icon>home</mat-icon>
            </button>
            <button routerLink="/add" mat-mini-fab>
                <mat-icon>add</mat-icon>
            </button>
            <button routerLink="/list" mat-mini-fab>
                <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <button routerLink="/output" mat-mini-fab>
                <mat-icon>add_to_photos</mat-icon>
            </button>
        </div>
        <div fxFlex="" style="overflow-y: scroll;max-height:100%;"><router-outlet></router-outlet></div>

    </div>
</div>
